@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.NavBar {
  z-index:2;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
  height: 2rem;
  align-items: center;
  font-size: 1.5rem;
  color: green;
  a {
    color: green;
    text-decoration: none;
    &:link, &:visited {
      color: green;
      text-decoration: none;
    }
  }
}

.InputPage {
  z-index:1;
  display: flex; 
  align-items:center;
  flex-direction: column;
  h1, h2{
    padding: 2vmax;
  }
  
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  form {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
  }
  button{
    height:2rem;
    width:5rem;
    border-color: rgb(240, 240, 240);
    background-color:white;
    box-shadow:  2px 2px grey;
  }
  button:hover{
    height: 2.5rem;
    width:6rem;
    color: white;
    background-color:black;
    text-transform:uppercase;
  }
}

.AboutPage {
  h1 {
    font-size: 3rem;
    padding-top:2rem;
  }
  display:flex;
  flex-direction:column;
  p{
    font-size:1.3rem;
    padding:1.5rem;
  }
  .socials{
    display:flex;
    flex-direction:row;
    justify-content:center;

    .thumbnail{
      animation: spin 4s linear infinite;
      width:15vmax;
      height:15vmax;
    }
  }
  #github{
    width: 20vmax;
    height: 20vmax;
  }
  #portfolio {
    animation: spin-counterclockwise 3.5s linear infinite;
    width: 20vmax;
    height: 20vmax;
    margin-right: 3vmax;
  }
}

.FormInputComponent {
  display: flex; 
  flex-direction:column;
  .label{
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:rgb(51, 184, 51);
  }
  textarea {
    font-size: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(-360deg); 
  }
}

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}

$durations: 2s, 3s, 4s, 5s, 6s;
$delay-starts: 1s, 2s, 3s, 4s;
$size: 4vmin, 6vmin, 8vmin, 10vmin, 12vmin;
$position-top: 5vh, 10vh, 15vh, 20vh, 25vh, 30vh, 35vh, 40vh, 45vh, 50vh, 55vh, 60vh, 65vh, 70vh, 75vh, 80vh, 85vh, 90vh, 95vh;
$position-left: 5vw, 10vw, 15vw, 20vw, 25vw, 30vw, 35vw, 40vw, 45vw, 50vw, 55vw, 60vw, 65vw, 70vw, 75vw, 80vw, 85vw, 90vw, 95vw;


@function random-value($list) {
  @return nth($list, random(length($list)));
}

@mixin animate-words($num-words) {
  @for $i from 1 through $num-words {
    $animation-duration: random-value($durations);
    $animation-delay-start: random-value($delay-starts);
    $font-size: random-value($size);
    .word:nth-child(#{$i}) {
      font-size: $font-size;
      animation: zoom $animation-duration linear infinite;
      position: absolute;
      top: random-value($position-top);
      left: random-value($position-left);
    }
  }
}

.BackgroundComponent {
  background: rgb(250, 250, 233);
  opacity:.3;
  width:100vw;
  height:100vh;
  position:fixed;
  top: 0; left: 0;
  z-index: -1;
  @include animate-words(66); 

  .word {
    color: grey;
  }
}

form {
  margin:auto;
  justify-content: center;
}
